<h2>Directives</h2>

<!-- <h3>Structural Directives</h3> -->

<!-- *ngFor will allow us to create new elements and append to a list -->
<!-- <h3>ngFor Directive</h3>
<ol>
  <li *ngFor="let name of names">
    {{ name }}
  </li>
</ol> -->

<!-- *ngIf can be used to conditionally render elements -->
<!-- <h3>ngIf Directive</h3>
<div *ngIf="hero === 'Tony Stark'; else elseblock">
  <p>I am Ironman!</p>
</div>

<ng-template #elseblock>
  <p>Avengers Assemble!</p>
</ng-template> -->

<!-- *ngSwitch can be used for more complex case switches for rendering -->
<!-- <h3>*ngSwitch Directive</h3>
<div [ngSwitch]="num">
  <p *ngSwitchCase="1">One</p>
  <p *ngSwitchCase="2">Two</p>
  <p *ngSwitchCase="3">Three</p>
  <p *ngSwitchCase="4">Four</p>
  <p *ngSwitchDefault>Make num between 0 and 5 exclusive</p>
</div> -->

<!-- <h3>Attribute Directives & Custom Directives</h3> -->

<!-- Attribute Directives allow us to create custom styling -->
<!-- <div appBorder>
  Some randome Div with content
</div> -->

<!-- <button appBorder>Click me!</button> -->

<!-- <input placeholder="Enter some text" appBorder> -->