<h1>Intro to Angular</h1>

<!-- Views -->
<!-- <app-views></app-views> -->

<!-- Lifecycle -->
<!-- <app-lifecycle [data]="data"></app-lifecycle> -->
<!-- <input [(ngModel)]="data" /> -->

<!-- Change Detection -->
<!-- Property Binding the names array to the ChangeDetection Component -->
<!-- <app-change-detection [names]="names"></app-change-detection>
<input [(ngModel)]="newName">
<button (click)="add()">Add</button> -->

<!-- ViewChild -->
<!-- <app-view-child></app-view-child> -->

<!-- Directives -->
<!-- <app-directives></app-directives> -->

<!-- Two-Way Binding -->
<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- Emitting Custom Events -->
<!-- <app-custom-events></app-custom-events> -->
